<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ '/feed.xml' | relative_url }}">
  <!-- SEO-related tags -->
  <meta property="og:title" content="National Elections Database" />
  <!-- Twitter tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@VinPons" />
  <meta name="twitter:creator" content="@VinPons" />
  <meta name="twitter:title" content="Explore the National Elections Database" />
  <meta name="twitter:description" content="Discover detailed election results for parliamentary and presidential elections worldwide from 1789–2023." />
  <meta property="og:image" content="https://nationalelectionsdatabase.com/assets/images/posters/image.JPG" />
  <meta name="twitter:image" content="https://nationalelectionsdatabase.com/assets/images/posters/image.JPG" />

  <!-- Language and locale -->
  <meta property="og:locale" content="en_US" />

  <!-- Meta description: Used in search snippets + for Open Graph -->
  <title>National Elections Database</title>
  <meta name="description" content="The National Elections Database provides detailed national election results for parliamentary and presidential elections worldwide from 1789 to 2023. This dataset was first built to support the analysis in Electoral Turnovers (Marx, Pons and Rollet, 2024)." />
  <meta property="og:description" content="The National Elections Database provides detailed national election results for parliamentary and presidential elections worldwide from 1789 to 2023. This dataset was first built to support the analysis in Electoral Turnovers (Marx, Pons and Rollet, 2024)." />


  <!-- Open Graph for social previews -->
  <meta property="og:url" content="https://nationalelectionsdatabase.com" />
  <meta property="og:site_name" content="National Elections Database" />
  <meta property="og:type" content="website" />

  <script type="application/ld+json">
  {
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "National Elections Database",
  "url": "https://nationalelectionsdatabase.com",
  "description": "The National Elections Database provides detailed national election results for parliamentary and presidential elections worldwide from 1789 to 2023. This dataset was first built to support the analysis in Electoral Turnovers (Marx, Pons and Rollet, 2024)."
  }
  </script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
</head>